<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.checksplit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
<uses-permission android:name="android.permission.PICK_CONTACT"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
             The attribute windowSoftInputMode specifies how the keyboard should overlay.
        	adjustPan does not resize the screen, it simply pans the screen up as far as necessary
        	in order for the focused field to be visible above the keyboard
        -->
        <activity
            android:name="com.example.checksplit.ReceiptActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.checksplit.SplitSummaryActivity"
            android:label="@string/title_activity_split_summary" >
        </activity>
    </application>

</manifest>